@import 'tailwindcss';

@theme {
	--color-primary: #7c5cff;
	--color-secondary: #ff4d6d;
	--color-bg: #1b2130;
	--color-text: #e5e7eb;
}

@theme inline {
	--font-sans: var(--font-nunito-sans);
	--font-mono: var(--font-roboto-slab-mono);
}

html,
body {
	background: var(--color-bg);
	color: var(--color-text);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}
